@tailwind base;
@tailwind components;
@tailwind utilities;

.full-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-content: center;
}